*{
  text-decoration: none;
  list-style: none;
}

a {
  
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #153f59;
    padding-top: 10px;
  }
  
  header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  header nav ul li {
    margin: 0 15px;
  }
  
  header nav ul li.logo {
    margin-right: auto;
  }
  
  header nav ul li a {
    color: #fff;
    font-size: 18px;
  }
  header nav ul li:not(.logo) a:hover {
    color: #00bfff;
  }
  
  .carrousel {
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .carrousel h1{
    margin-top: 40px;
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: center;
  }

  #carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  #carrousel-container img {
    display: none;
    max-width:70%;
  }
  
  #carrousel-container img.active {
    display: block;
    margin: 15px auto;
  }
  
  button {
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #next {
    position: absolute;
    right: 100px;
  }
  #prev {
    position: absolute;
    left: 100px;
  }

  footer{
    background-color: #153f59;
    padding: 10px;
    color: #ffff;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .footer-cont {
    display: flex;
    justify-content: space-around;

  }
  
  .footer-cont .contact-columna {
    flex: 1;
    margin: 0 40px;
  }
  
  .cont-text a {
    align-items: center;
    justify-content: center;
    color:#fff
  }
  
  .footer-cont p {
    margin: 5px 0;
    color:#fff;
  }

  .cont-social{
    display:flex;
    padding:10px;
    justify-content: center;
    align-items: center;
  }

  .social-text{
    padding:10px;
  }

  .social-img{
  display:flex;
  justify-content: center;
  aling-items:center;
  }

  .social-img img{
    width:40px;
    height:40px;
  }


  //Contacto

  body {
  
}

.desc_contact, .formulario {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cont_tit {
    color: #333;
    margin-bottom: 20px;
}

.desc_contact h2 {
    font-size: 24px;
    font-weight: bold;
}

.desc_contact h3 {
    font-size: 20px;
    font-weight: normal;
}

form {
    display: flex;
    flex-direction: column;
}

.formulario label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.formulario input, textarea, select, .enviar {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.formulario .enviar {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario button:hover {
    background-color: #45a049;
}

#error-container, #success-container {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

#error-container {
    background-color: #f8d7da;
    color: #721c24;
}

#success-container {
    background-color: #d4edda;
    color: #155724;
}

//Nosotros

#somos {
  background-color: #e9ecef;
  padding: 20px 20px;
  text-align: center;
}

#somos .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#somos .img-container {
  background-image: url("./img/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 20px;
}

#somos h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}
.servicios {
  background-color: #153f59;
  padding: 40px 0;
  text-align: center;
}

.servicios .titulo h1 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 10px;
}

.servicios .titulo p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.content-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.servicio {
  background-color: #153f59;
  margin: 10px;
  padding: 20px;
  max-width: 200px;
  text-align: center;
}

.servicio_media {
  margin-bottom: 15px;
}

.servicio_media img {
  width: 80px;
  height: 80px;
  filter: invert(1)
}

.servicio h4 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.feature-item-content {
  font-size: 16px;
  color: #555;
}


  @media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
    }

    header nav ul li {
        margin: 10px 0;
    }

    header nav ul li.logo {
        margin-right: 0;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .carrousel h1 {
        font-size: 24px;
    }

    #carousel-container img {
        max-width: 90%;
    }

    button {
        margin: 10px 0;
        padding: 10px 20px;
    }

    #next {
        right: 20px;
    }

    #prev {
        left: 20px;
    }

    .footer-cont {
        flex-direction: column;
        align-items: center;
    }

    .footer-cont .contact-columna {
        margin: 20px 0;
    }

    .desc_contact, .formulario {
        padding: 10px;
        width:95%;
    }

    .desc_contact h2 {
        font-size: 20px;
    }

    .desc_contact h3 {
        font-size: 18px;
    }

    form {
        padding: 10px;
    }

    .formulario input, textarea, select, .enviar {
        font-size: 14px;
    }
}



@media (max-width: 480px) {
  header nav ul li a {
    font-size: 18px;
}

.carrousel h1 {
    font-size: 20px;
    margin-top: 20px;
}

button {
    padding: 8px 16px;
}


.footer-cont {
    text-align: center;
}

.desc_contact, .formulario {
    padding: 5px;
    width:95%;
}

.desc_contact h2 {
    font-size: 18px;
}

.desc_contact h3 {
    font-size: 16px;
}

.formulario input, textarea, select, .enviar {
    font-size: 12px;
}
}
